<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287838517928-pat6nvf4t15rdglh42dr5o5jipsvc7rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287838517928-pat6nvf4t15rdglh42dr5o5jipsvc7rc</string>
	<key>API_KEY</key>
	<string>AIzaSyAaugiucsxzTpF0xvEQxj8z45UemZVr0vI</string>
	<key>GCM_SENDER_ID</key>
	<string>287838517928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffeeMemo</string>
	<key>PROJECT_ID</key>
	<string>coffeememo-dedc4</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeememo-dedc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287838517928:ios:a53ac4497d0badc69e209d</string>
</dict>
</plist>